.fret {
    flex: 1 1 auto;
    position: relative;
    /* min-width: 25px;
    min-height: 25px; */
    width: 5vW;
    min-height: 100%;
    max-width: 70px;
    max-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-2-color);
    border-right: 4px solid var(--bg-1-color);
}

.fret::before {
    content:'';
    height: 2px;
    width: 100%;
    background-color: var(--bg-1-color);

}

.fret_count::after {
    position: absolute;
    top: 150%;
    content: attr(data-num);
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .fret_count::after {
        font-size: 1.2rem;
    }
}