.string {
    display: flex;
    width: 100%;
    min-height: 25px;
    height: 4vW;
    max-height: 45px;
}

.open-wrapper {
    flex: 1 1 5vW;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--bg-3-color);
}